/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/*===== VARIABLES CSS =====*/
:root {
	--header-height: 2rem;
	/*========== Colors ==========*/
	--first-color: rgb(189, 112, 12);
	--second-color: rgb(234, 214, 173);
	--first-color-alt: rgb(48,38,36);
	--first-color-icon: rgb(165,123,39);
	--title-color: #161212;
	--subtitle-color: #f7f7f7;
	--text-color: black;
	--text-color-light: rgb(247,245,246);
	--text-color-semi-black: rgb(142, 141, 141);
	--body-color: #fff;
	--container-color: rgb(250,246,247);

	/*========== Font and typography ==========*/
	--body-font: 'Poppins', sans-serif;
	--big-font-size: 2rem;
	--biggest-font-size: 1.2rem;
	--h2-font-size: 1.25rem;
	--h3-font-size: 1.125rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;

	/*========== Font weight ==========*/
	--font-semi-bold: 600;
	--font-semi-bold: 600;
	--font-bold: 700;

	/*========== Margenes ==========*/
	--mb-1: 0.5rem;
	--mb-2: 1rem;
	--mb-3: 1.5rem;
	--mb-4: 2rem;
	--mb-5: 2.5rem;
	--mb-6: 3rem;
}

/*========== BASE ==========*/
* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
body, html {
    height: 100%;
    font-family: 'Poppins';
}
ul {
    list-style: none;
}
.bg-gold { 
    background-color: var(--first-color-icon) !important;
}
.gold {
    color: var(--first-color-icon);
}
.first-color {
    color: var(--first-color);
}
.semi-gold {
    color: rgb(234, 214, 173);
}
.white {
    color: white;
}
.bg-silver { 
    background-color: silver !important;
}
.txt-sm {
    font-size: var(--small-font-size);
}
.fa-caret-down {
    float: right; 
    margin-right: 1.2rem;
}
/*========== LAYOUT ==========*/
.section {
	padding: 4rem 0 2rem;
}
.bd-container {
	max-width: 1200px;
	width: calc(100% - 3rem);
	margin-left: var(--mb-6);
	margin-right: var(--mb-6);
    margin: auto;
}
.bd-container-sm {
	max-width: 1100px;
	width: calc(100% - 3rem);
	margin-left: var(--mb-3);
	margin-right: var(--mb-3);
    margin: auto;
}

.container-flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-flex-column {
    display: flex;
    flex-direction: column;
}
.flex-end {
    justify-content: flex-end;
}
/*========== BUTTON ==========*/  
.btn {
    padding: 1rem 1.5rem;
	border-radius: 0.5rem;
	transition: 0.3s;
    cursor: pointer;
}
.btn-primary {
    background-color: var(--first-color);
    border: 1px solid var(--first-color);
}
.btn-secondary {
    color: white;
    background-color: rgba(255, 255, 255, .2);
    border: 1px solid white;
}
.icon-wrapper {
    color: white;
    background-color: #242424;
    cursor: pointer;
}

/*========== NAV ==========*/   
.banner {
    min-height: 90vh;
    color: var(--text-color-light);
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('./Images/header-bg.jpg');
    background-blend-mode: darken;
    background-size: cover;
    background-position: center center;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(139, 131, 131, 0.5);
    z-index: 10;
}
.header-nav {
	height: var(--header-height);
    padding-block: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.company-logo {
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
}
.navbar a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}
.navbar a:hover{
    color: rgb(234, 214, 173);
}
nav.borderXwidth a {
    position: relative;
}
nav.borderXwidth a:before, nav.borderXwidth a:after
{
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 1.4px;
    content: '';
    background: rgb(234, 214, 173);
    transition: all 0.4s;
}

nav.borderXwidth a:before
{
    left: 0px;
    top: 0px;
    margin-block: 1.8rem;
}

nav.borderXwidth a:after
{
    right: 0px;
    bottom: 0px;
    margin-block: 1.8rem;
}

nav.borderXwidth a:hover:before, nav.borderXwidth a:hover:after
{
    opacity: 1;
    width: 100%;
}
/*========== HOME ==========*/
.home {
    margin: auto;
}
.home__title {
    padding-top: 10rem;
    font-size: 3.3rem;
}
.home__description {
    margin-block: 4rem;
}
.home__button {
    color: white;
    font-weight: 500;
    padding-inline: 4rem;
    font-size: 1rem;
    background-color: rgba(90, 88, 88, 0.5);
}
.home__button:hover {
    border: 1.5px solid var(--second-color);
    color: var(--second-color);
    background-color: rgba(44, 43, 43, 0.5);
}
/*========== FILTER ==========*/
.filter {
    position: relative;
}
.filter-container {
    position: absolute;
    background-color: white;
    width: 80%;
    border: 1px solid var(--text-color-semi-black);
    border-radius: 10px;
}
.filter-item {
    text-align: center;
    color: var(--text-color);
    width: calc(100% / 3);
    margin: auto;
    border-right: 1px solid var(--text-color-semi-black);
}
.filter-criteria {
    font-size: var(--normal-font-size);
}
.fa-chevron-down {
    margin-left: .4rem;
}
.filter-result {
    color: var(--text-color-semi-black);
    font-size: var(--small-font-size);
}
.magnifying-glass-wrapper {
    padding: 3% 5%;
    margin-block: 2%;
    margin-left: 3rem;
    border-radius: 5px;
}

/*========== FEATURES ==========*/
.features {
    background-color: var(--container-color);
}
.features-container {
    margin-top: 2rem;
    justify-content: left;
    flex-direction: row-reverse;    
    align-items: flex-start;
    gap: 2rem;
}
.features-article {
    width: 60vw;
    padding-block: .8rem;
    padding-inline-start: 2rem;
}
.features__title {
    width: 100%;
    font-size: var(--big-font-size);
    text-align: justify;
}
.features__description {
    font-size: var(--small-font-size);
    font-weight: lighter;
    padding-block: 1.8rem;
    text-align: justify;
}
.features__list {
    background-color: white;
    width: 80%;
    padding-left: .5rem;
    padding-block: .4rem;
    border: 1px solid white;
    border-radius: 5px;
}
.features-elt-container {
    justify-content: left;
    margin-block: 1rem;
}
.check-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: .5rem;
}
.features-aside {
    width: 100%;
    height: 57vh;
    overflow: hidden;
}
img[alt="Luxury Black House"] {
    border-radius: 20px;
    width: inherit;
    height: inherit;
    transition: transform .3s;
}
img[alt="Luxury Black House"]:hover {
    transform: scale(105%);
    filter: brightness(80%);
}
/*========== SERVICES ==========*/
.services {
    background-color: var(--container-color);
}
.services__card__container {
    gap: 3vw;
    margin-bottom: 2rem;
}
.services__card {
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 16px;
    width: 27vw;
    padding: .5rem .5rem;
}
.services__image {
    width: 100%;
    height: 240px;
    margin: auto;
    overflow: hidden;
}
img[alt="Mancini Homes"] {
    transition: transform .2s;
}
img[alt="Mancini Homes"]:hover {
    transform: scale(110%);
    filter: brightness(70%);
}
.services__image > img {
    width: inherit;
    height: inherit;
    border-radius: 8px;
}
.services__card__info {
    justify-content: left;
    gap: 40%;
    align-items: flex-end;
    margin-block: 1rem;
}
.services__title {
    font-size: var(--big-font-size);
}
.services__description {
    font-size: var(--small-font-size);
    font-weight: lighter;
    padding-block: 1.5rem;
    text-align: left;
}
.heart__wrapper{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-dollar-sign, .fa-location-dot, .fa-home {
    color: var(--first-color);
}

/*========== TESTIMONIAL ==========*/
.testimonial {
    min-height: 550px;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url('./Images/banner.jpg');
    background-size: cover;
    background-position: center center;
}
.testimoanial__title {
    text-align: center;
    font-size: var(--big-font-size);
    color: white;
}
.testimonial__card__container {
    justify-content: left;
    gap: 3vw;
    margin-block: 3rem;
    position: relative;
    overflow: hidden;
}

.testimonial__card {
    border-radius: 16px;
    background-color: var(--first-color-alt);
    color: white;
    width: calc(50% - 1.5vw);
    padding: 2rem 2rem;
}
img[alt="testimoanial__image"] {
    border-radius: 40px;
    margin-right: .8rem;
}
.customer__info {
    flex-basis: 50%;
}
.stars {
    flex-basis: 40%;
    text-align: right;
}
.stars > i {
    font-size: .8rem;
}
.customer__name {
    font-size: var(--normal-font-size);
}
.customer__job {
    font-size: var(--small-font-size);
}
.customer__description {
    justify-content: left;
}
.customer__testimonial {
    font-size: var(--small-font-size);
    padding-block: 1.7rem;
    text-align: justify;
}

/*========== AGENTS ==========*/
.agents {
    background-color: rgb(223,209,198);
}
.agents__title {
    text-align: center;
    font-size: var(--big-font-size);
}
.agents__card__container {
    justify-content: left;
    gap: 3vw;
    margin-block: 3rem;
}
.agents__card {
    color: white;
    align-items: center;
    background-color: var(--first-color-alt);
    border: 3px solid rgb(249, 245, 237);
    border-radius: 16px;
    width: 27vw;
    padding: .5rem .5rem;
}
.agents__name {
    font-weight: var(--font-semi-bold);
}
.agents__description {
    text-align: center;
    margin-bottom: 1.5rem;
}
img[alt="agent"] {
    margin-top: 1.5rem;
    border-radius: 95px;
    margin-bottom: .5rem;
}
.agent__intro {
    margin-top: 1.5rem;
}

/*========== CONTACT ==========*/
.contact {
    min-height: 600px;
    padding-block: 3rem;
    background: url('./Images/contact-bg.jpg');
    background-size: cover;
    background-position: center center;
}
.contact__title {
    text-align: center;
    color: white;
    font-size: var(--big-font-size);
    margin-bottom: 3rem;
}
.contact__container {
    justify-content: left;
    gap: 3vw;
    min-height: 450px;
    align-items: flex-start;
}
.form__container {
    width: 50%;
}
form input {
    height: 7vh;
    margin-bottom: .7rem;
    padding-left: .5rem;
    background-color: rgb(223,209,198);
    border: 1px solid rgb(72, 51, 35);
    color: var(--first-color-alt);
    position: relative;
}
.form__submit__button {
    background-color: rgb(223,209,198);
    border: 1px solid rgb(72, 51, 35);
    color: var(--first-color-alt);
    padding: .5rem 5rem;
    cursor: pointer;
}
::placeholder {
    color: var(--first-color-alt);
    font-family: 'Poppins';
    position: absolute;
    transform: translateY(1rem);
}

/*========== GET IN TOUCH ==========*/
.newsletter__container {
    background-color: rgb(16,6,7);
    flex-direction: row-reverse;
    justify-content: left;
    gap: 3vw;
    border: 3px solid var(--first-color);
    border-radius: 24px;
}
img[alt="get-in-touch-aside"] {
    margin: .8rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
}
.newsletter__title {
    color: white;
    font-size: var(--big-font-size);
}
.subscription__input__wrapper{
    padding: .5rem .5rem;
    margin-top: 1.4rem;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 7px;
}
.subscription__button {
    color: white;
}
input[placeholder="Enter your email"] {
    border: none;
    height: 6vh;
    width: 28vw;
}

/*========== FOOTER ==========*/
.footer__container {
    height: 30vh;
    align-items: center;
    justify-content: left;
}
.footer__icon__container {
    width: 30%;
    display: flex;
    justify-content: left;
    margin-block: 1rem;
    gap: 1rem;
}
.footer__icon__container a {
    color: var(--first-color);
}
.footer__title {
    margin-bottom: 1.7rem;
}
.footer__description {
    font-size: var(--small-font-size);
    text-decoration: none;
    color: var(--text-color);
}
.footer-list li {
    font-size: var(--small-font-size);
    color: var(--text-color) !important;
    margin-bottom: .7rem;
}
.footer-list li a{
    color: var(--text-color);
    text-decoration: none;
}
.footer-list li a:hover {
    color: var(--first-color);
    border-bottom: 1px solid var(--first-color);
}
.footer-list li:hover {
    color: var(--first-color) !important;
}
.footer__element {
    width: 40%;
    height: 25vh;
    padding-right: 4rem;
}
.footer__sub__container {
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.footer__element-sm {
    width: calc(60% / 4);
    height: 25vh;
}
.copyright {
    margin-top: 4rem;
    padding-block: 1rem;
    width: 100%;
    background-color: black;
    font-size: var(--small-font-size);
    color: white;
    text-align: center;
}